@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";
@import "../modules/ui.scss";
@import "../modules/colors.scss";

.content {

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    @media all and (min-width: $breakpoint-desktop-S) {
      padding-top: 81px;
    }
  }

  .tabs {
    @media all and (min-width: $breakpoint-desktop-S) {
      flex: 0 1 50%;
    }

    &__img.is__active {
      transform: rotate(180deg);
    }
  }
}



