@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";
@import "../modules/ui.scss";
@import "../modules/colors.scss";

.content {
  &_top {
    //background-color: $color-white;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    @media all and (min-width: $breakpoint-desktop-S) {
      padding-top: 81px;
    }
  }

}



