@import "../modules/vars.scss";
@import "../modules/font.scss";
@import "../modules/functions.scss";

.footer {
  font-size: 24px;

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a1404;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 76px 0;
    @media all and (min-width: $breakpoint-tablet-S) {
      flex-direction: row;
    }
  }
}
