$color-white: #fff;
$color-blue: #15193D;
$color-lilac: #8C93D1;

$color-bg: #F4F4F4;
$color-link-tab: #3922C5;
$color-link-tab-disable: #968fbf;
$color-link-tab-hover: #2C1A9A;
$color-link-tab-active: #1F1368;
$color-bg-tab: #D9D9D9;

$color-font-tab-title: #0C0C0C;
$color-font-tab-p: #494949;

