/*fonts*/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-Montserrat: Montserrat, $font-family-sans-serif;
$primaryFont: $font-Montserrat;

/*font-size*/
$font-size-title-m: 24px;
$font-size-title-d: 26px;
$font-size-tab-m: 20px;
$font-size-tab-d: 22px;
$font-size-text-m: 14px;
$font-size-text-d: 16px;
$font-size-title-disc-m: 16px;
$font-size-title-disc-d: 18px;

$primary-font-size-m: $font-size-text-m;
$primary-font-size-d: $font-size-text-d;

/*Width breakpoints*/
$breakpoint-desktop-S: 1920px; //
$breakpoint-mobile-S: 375px; //

