/*fonts*/
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-Montserrat: Montserrat, $font-family-sans-serif;

$primaryFont: $font-Montserrat;

/*font-size*/
$font-size-title-m: 24px;
$font-size-title-d: 26px;
$font-size-tab-m: 20px;
$font-size-tab-d: 22px;
$font-size-text-m: 14px;
$font-size-text-d: 16px;
$font-size-title-disc-m: 16px;
$font-size-title-disc-d: 18px;

$primary-font-size-m: $font-size-text-m;
$primary-font-size-d: $font-size-text-d;

/*Width breakpoints*/
$breakpoint-fullhd: 1860px;
$breakpoint-desktop-L: 1620px;
$breakpoint-desktop-S: 1260px; //
$breakpoint-tablet-L: 1100px;
$breakpoint-tablet-M: 991px;
$breakpoint-tablet-S: 768px;
$breakpoint-mobile-L: 480px;
$breakpoint-mobile-S: 360px;

/*z-index*/
$position-background: 1;
$position-block: 2;
$position-swiper: 3;
$position-header-block: 3;
