<section class="first-block">
    <div class="first-block__wrap content-wrap">
        <div class="first-block__container">
            <div class="first-block__column">
                <h1>Asigurare<br> RCA online</h1>
                <div class="first-block__disc">
                    Economisește timp și&nbsp;calculează online Asigurarea RCA &icirc;n&nbsp;doar c&acirc;teva minute.
                    &Icirc;n&nbsp;doar 3&nbsp;pași simpli, vei primi Asigurarea electronică.
                </div>
                <div class="first-block__button-wrap">
                    <button class="btn-calc">Calculează</button>
                    <span>sau <a class="link" href="#">solicită un apel</a></span>
                </div>
            </div>
            <div class="first-block__column first-block__column_image">
                <div class="smoke"></div>
            </div>

        </div>
    </div>
</section>
