<!--ограничение по высоте -->
<header class="header">
    <!--фон-->
    <div class="header_top">
        <!--ограничение по ширине-->
        <div class="header__wrap container">
            <!--внутренний контейнер-->
            <div class="header__inner">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem
                Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х
                годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых
                используется Lorem Ipsum.
            </div>
        </div>
    </div>
    <!--фон-->
    <div class="header_middle">
        <div class="header__wrap container">
            <!--внутренний контейнер-->
            <div class="header__inner">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
            </div>
        </div>
    </div>
    <!--фон-->
    <div class="header_bottom">
        <div class="header__wrap container">
            <!--внутренний контейнер-->
            <div class="header__inner">
                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
            </div>
        </div>
    </div>
</header>
