@import "modules/vars";
@import "modules/font";
@import "modules/functions";
@import "modules/slider";
@import "modules/reset";
@import "modules/colors";
@import "modules/vanilla-tabs";

@import "template/card-product";

html, body {
  font-size: $primary-font-size-m;
  font-family: $primaryFont;
  font-style: normal;
  @media all and (min-width: $breakpoint-desktop-S) {
    font-size: $primary-font-size-d;
  }
}

.wrapper {
  min-height: 100%;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  //  для body
  //overflow-x: hidden;
  //overflow: auto;
  //justify-content: space-between;
  height: 100vh;
  background-color: $color-bg;

  position: relative;
  box-sizing: border-box;
  zoom: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body.lock {
  overflow-y: hidden;
  height: 100vh;
}

.container {
  max-width: 1588px; // - 100px padding = 1488 по макету
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media all and (min-width: $breakpoint-desktop-S) {
    padding-left: 102px;
    padding-right: 102px;
  }
}

@import "components/content";


//или подключение с помощью маски (sassGlob) всех файлов из директории
//@import "components/*.scss";
